{
    "last_checked": "-- TIMESTAMP --",
    "latest_VirtIO_version": "-- VERSION STRING --",
    "latest_QEMU_GA_version": "-- VERSION STRING --",
    "VMS": {
        "-- VMID --": {
            "current_VirtIO_version": "-- VERSION STRING --",
            "update_available_VirtIO": "-- true | false --",
            "current_QEMU_GA_version": "-- VERSION STRING --",
            "update_available_QEMU_GA": "-- true | false --"
        }
    }
}